<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
<title>selcommon.html</title>
{include file='public/css' /}
{include file='public/js' /}
</head>
<body>  

        <div class="m_left" style="margin-left: 20px;">
            <div class="left_n">管理中心</div>
            <div class="left_m">
                <div class="left_m_t t_bg1">订单中心</div>
                <ul>
                    <li><a href="{:url('SellerOrder/sellerOrder')}">我的订单</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg2">商品管理</div>
                <ul>
                    <li><a href="{:url('Addgoods/addGoods')}">添加商品</a></li>
                     <li><a href="{:url('Addgoods/stockGoods')}">缺货统计</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg2">小店中心</div>
                <ul>
                    <li><a href="{:url('Addgoods/showSellerGoods')}">小店首页</a></li>
                    <li><a href="{:url('Seller/selInfo')}">小店信息</a></li>
                    <li><a href="news.html">我的消息</a></li>
                    <li><a href="shop_leav.html">我的推送/留言/反馈</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg3">账户中心</div>
                <ul>
                    <li><a href="shop_safe.html">账户安全</a></li>
                    <li><a href="shop_merber.html">我的顾客</a></li>
                    <li><a href="Member_Results.html">销售业绩</a></li>
                </ul>
            </div>
        </div>
    
<!--     </div>
</div> -->
</body>
</html>
