<!--Begin Header Begin-->
{include file='public/css'}
{include file='public/js'}

<div class="m_top_bg">
    <div class="top">
        <div class="m_logo" style="margin-top: 0px;height: 140px;"><a href="Index.html"><img height="140px;" width="127px;" src="__PICTURE__logo.jpg" /></a></div>
        <div class="m_search">
            <form>
                <input type="text" value="" class="m_ipt" />
                <input type="submit" value="搜索" class="m_btn" />
            </form>                      
        </div>
        </div>
    </div>
</div>
<!--End Header End-->