<!--Begin Header Begin-->
{include file='public/css'}
{include file='public/js'}

<div class="m_top_bg">
    <div class="top">
        <div class="m_logo" style="margin-top: 0px;height: 140px;"><a href="Index.html"><img height="140px;" width="127px;" src="__PICTURE__logo.jpg" /></a></div>
        <div style="float: right ">
            [<a href="{:url('seller/exit')}">退出登录</a>]                     
        </div>
         <div style="float: right;margin-top: 20px;margin-left:300px; ">
            [<a href="{:url('index/index')}">返回首页</a>]                    
        </div>
        </div>
    </div>
</div>
<!--End Header End-->