<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>selinfo.html</title>
</head>
<body>  
<!--Begin Header Begin-->
{include file='seller/selhead' /}
<!--End Header End--> 


  {include file='seller/selcommon'}
  <div class="m_right" style="padding-left: 20px;" >
    <div class="mem_t">资产信息</div>
    <table border="0" class="mon_tab" style="width:870px; margin-bottom:20px;" cellspacing="0" cellpadding="0">
      <tr>
        <td width="60%">商家等级：<span style="color:#555555;">普通商家</span></td>
        <td width="15%">积分：<span>99</span></td>
        <td> <font color="#ff4e00">您还差 270 积分达到 分红100</font><br /></td>
      </tr>
      <tr>
        <td colspan="3">订单提醒：
            <font style="font-family:'宋体';">待付款(<span>0</span>) &nbsp; &nbsp; &nbsp; &nbsp; 待收货(<span>2</span>) &nbsp; &nbsp; &nbsp; &nbsp; 待评论(<span>1</span>)</font>
        </td>
      </tr>
    </table>

    <div class="mem_t">小店信息</div>
    <table border="0" class="acc_tab" style="width:870px;" cellspacing="0" cellpadding="0">
      <tr>
        <td class="td_l">用户ID： </td>
        <td>12345678</td>
      </tr>
      <tr>
        <td class="td_l b_none">运营执照：</td>
        <td>522124***********8</td>
      </tr>
      <tr>
        <td class="td_l b_none">联系电话：</td>
        <td>186****1234</td>
      </tr>
      <tr>
        <td class="td_l b_none">注册时间：</td>
        <td>2015/10/10</td>
      </tr>
      <tr>
        <td class="td_l">完成订单：</td>
        <td>0</td>
      </tr>
      <tr>
        <td class="td_l">登录次数：</td>
        <td>3</td>
      </tr>
    </table>
  </div>

    <!--End 用户中心 End-->  
</body>
</html>
