<!DOCTYPE html>
<html>
<head>
	<title>toSeller.html</title>
</head>
<body>
	{include file='common/indexHeader' /}

    <div class="i_t mar_10">
        <span class="fl">{$seller_name}小店商品</span>
    </div>    
    <div class="like">          
        <div id="block1">
            <ul class="featureUL">
            {foreach $info as $val}
                <li class="featureBox">
                    <div class="box">
                        <div class="imgbg">
                            <a href="{:url('Index/details' , ['good' => $val['id']])}"><img src="{$val['picture']|substr=1}" width="160" height="136" /></a>
                        </div>                                        
                        <div class="name">
                            <a href="{:url('Index/details' , ['good' => $val['id']])}">
                            <h2>{$val['name']}</h2>
                            {$val['description']}
                            </a>
                        </div>
                        <div class="price">
                            <font>￥<span>{$val['price']*$val['discount']}</span></font> &nbsp; <span style="font-size: 12px;text-decoration: line-through;">￥{$val['price']}</span>
                        </div>
                    </div>
                </li>
            {/foreach}
            </ul>
        </div>
    </div>

    {include file='common/indexFooter' /}
</body>
</html>