<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>addgoods.html</title>
</head>
<body >  
<!--Begin Header Begin-->
{include file='seller/selhead' /}
<!--End Header End--> 
        {include file='seller/selcommon' /}
    <div class="m_right" style="border: 1px solid blue;background:url('__IMAGE__addGoodsBackground.jpg');">  
            <h3 class="flight_title">
                <i class="flight_icon"></i>
                添加商品
            </h3>
            <div class="indent" style="margin-top: 20px;">
                <div class="allweb_box">
                 <form method="post" action="">
                    <table class="table1 mb20" >
                        <tr>
                            <th width="20%">
                                销售类型：
                            </th>
                            <td width="100%">
                                <select name='small' style="width: 162px;margin-left: 10px;" class="input1 w350">
                                    {foreach $small as $vo}
                                        <option>{$vo['name']}</option>
                                    {/foreach}
                                </select>
                            </td>
                            &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <th >
                                商品名称：
                            </th>
                            <td width="100%">
                                <input name="name" type="text" class="input1 w350" id="lxs" />
                            </td>
                            &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <th>
                                产品单价：
                            </th>
                            <td colspan="3">
                                <input id="jiagejieguo" type="text" name='price' class="input1 w100" />
                                元
                            </td>
                        </tr>
                        <tr>
                            <th>
                               折扣率：
                            </th>
                            <td colspan="3">
                                <input id="datetimepicker3" type="text" name='discount' class="input1 w100" />
                                <span class="font_grey ml15">
                                    大于等于0 小于等于1
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                库存量：
                            </th>
                            <td colspan="3">
                                <input id="datetimepicker3" type="text" name='stock' class="input1 w100" />
                                <span class="font_grey ml15">
                                    数量大于10
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                商品描述：
                            </th>
                            <td colspan="3">
                                <textarea name="description" class="input1 w100" style="border: 1px solid black;margin-top:8px;margin-left: 10px;height: 100px;"></textarea>
                            </td>
                        </tr>
                    </table>
                  </form>
                </div>
            </div> 
            <button>添加商品图片</button>
       <!--  </section> -->
    </div>
   
   
    <!--End 用户中心 End-->  
</body>
</html>
<script type="text/javascript">
$(function(){
    $('input[name=price]').blur(function()
        {
            var price = $("input[name=price]");
            if(isNaN(price.val()))
            {
                alert('价格是个数字哦,请填写数字!');
                price.val('');
            }
        });

    $('input[name=discount]').blur(function()
        {
            var discount = $("input[name=discount]");
            if(discount.val() &&!isNaN(discount.val()))
            {
                if(discount.val() < 0 || discount.val() > 1)
                {
                    alert('折扣率请填写0~1的值!');
                    discount.val("");
                }
            }
            else
            {
               alert('折扣率是个数字哦,请填写数字!');
               discount.val("");
            }
        });

    $('input[name=stock]').blur(function()
        {
            var stock = $('input[name=stock]');
            if(!isNaN(stock.val()))
            {
                if(stock.val() < 11)
                {
                    alert('库存量要大于10');
                    stock.val('');
                }
            }
            else
            {
                 alert('库存量是个数字,请填写数字,且数量大于10!');
                 stock.val('');
            }
        });

    $('textarea').blur(function()
        {
            if(!$('textarea').val())
            {
                alert('不能为空哦');
            } 
        });

    $('button').click(function()
        {
            var small = $('select').val();
            var name = $('input[name=name]').val();
            var picture = $("input[name=picture]").val();
            var price = $("input[name=price]").val();
            var discount = $("input[name=discount]").val();
            var stock = $('input[name=stock]').val();
            var data = {'small' : small , 'name' : name , 'picture' : picture , 'price' : price , 'discount' : discount , 'stock' : stock };
            $.post("{:url('Upload/getInfo')}" , data , function(data)
                {
                   console.log(data);
                   if(data == 1)
                   {
                     window.location.href = "{:url('Upload/uploader')}";
                   }
                  
                });
        });
});

</script>