<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{include file='public/css' /}
{include file='public/js' /}
<title>showSellerGoods.html</title>
</head>
<body >  
{include file='seller/selhead' /}
    <div>
        {include file='seller/selcommon' /} 
        <div class="m_right" style="border: 1px solid red;">
            <div class="confirmation">
                <div class="in-tit" >
                    <h1> {$seller_name} </h1>
                </div>
            </div>
            {foreach $info as $vo}
            <div class="browse" style="border: 1px solid green;padding-left: 12px;">
                <div class="browse-hd">
                    <p><b>{$vo['lable']}<b></p><span>{$vo['count']}件宝贝</span>
                </div>             
                <ul >
                    {foreach $vo['obj'] as $val}
                        <li style="height: 280px;width: 285px;">
                            <div class="li-top"  >
                                <a href="{:url('Index/details' , ['good' => $val['id']])}" style="height: 180px; " class="li-top-tu" ><img src="{$val.picture|substr=1}" /></a>
                                <p class="jiage"><span class="sp1">￥{$val.price * $val.discount}</span><span class="sp2">￥{$val.price}</span></p>
                            </div>
                            <a href="#"><b>{$val.name}</b></a>&ensp;
                            <span>{$val.number}</span>
                             &ensp;库&ensp;存:&ensp;{$val.stock}<br />&ensp;&ensp;
                            &ensp;&ensp;&ensp;&ensp;<br />&ensp;&ensp;&ensp;&ensp;&ensp;
                            <a href="{:url('Addgoods/editGoods' , ['id' => $val['id']])}">编辑商品</a>
                            &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<a href="{:url('Addgoods/delGoods' , ['id' => $val['id']])}" name="" >删除商品</a>
                        </li>
                    {/foreach}
                </ul>
            </div>
            {/foreach}
        </div>
    </div>
    <!--End 用户中心 End-->  

</body>
</html>
<script type="text/javascript">


</script>
