<!DOCTYPE html>
<html lang="en">
	<head>
		{include file='public/css' /}
		<title>admin/index</title>		
        <link rel="stylesheet" href="__CSS__style.css"/>
		<script src="__JS__ace-extra.min.js"></script>
		<script src="__JS__jquery-1.9.1.min.js"></script>        
		<script src="__JS__bootstrap.min.js"></script>
		<script src="__JS__ace.min.js"></script>

<script type="text/javascript">	
 
 $(function(){ 
 var cid = $('#nav_list> li>.submenu');
	  cid.each(function(i){ 
       $(this).attr('id',"Sort_link_"+i);
   
    })  
 })
 jQuery(document).ready(function(){ 	
    $.each($(".submenu"),function(){
	var $aobjs=$(this).children("li");
	var rowCount=$aobjs.size();
	var divHeigth=$(this).height();
    $aobjs.height(divHeigth/rowCount);	  	
  }); 
    //初始化宽度、高度

    $("#main-container").height($(window).height()-76); 
	$("#iframe").height($(window).height()-140); 
	 
	$(".sidebar").height($(window).height()-99); 
    var thisHeight = $("#nav_list").height($(window).outerHeight()-173); 
	$(".submenu").height();
	$("#nav_list").children(".submenu").css("height",thisHeight);
	
    //当文档窗口发生改变时 触发  
    $(window).resize(function(){
	$("#main-container").height($(window).height()-76); 
	$("#iframe").height($(window).height()-140);
	$(".sidebar").height($(window).height()-99); 


  });


	$(document).on('click','.iframeurl',function(){
	            var cid = $(this).attr("name");
				var cname = $(this).attr("title");
	            $("#iframe").attr("src",cid).ready();
				$("#Bcrumbs").attr("href",cid).ready();
				$(".Current_page a").attr('href',cid).ready();	
	            $(".Current_page").attr('name',cid);
				$(".Current_page").html(cname).css({"color":"#333333","cursor":"default"}).ready();	
				$("#parentIframe").html('<span class="parentIframe iframeurl"> </span>').css("display","none").ready();	
				$("#parentIfour").html(''). css("display","none").ready();		
	  });	
});

  $(document).on('click','.link_cz > li',function(){
	$('.link_cz > li').removeClass('active');
	$(this).addClass('active');
});

$( document).ready(function()
{
  $('#nav_list,.link_cz').find('li.home').on('click',function(){
	$('#nav_list,.link_cz').find('li.home').removeClass('active');
	$(this).addClass('active');
  });	
});
</script>	

</head>
<body>
	<div class="navbar navbar-default" id="navbar">
		<img src="__PICTURE__logo.jpg" height="75px" width="80px;">
	</div>
	<div class="main-container" id="main-container">
		<div class="main-container-inner">
			<div class="sidebar" id="sidebar">
				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<a class="btn btn-success" href="{:url('administor/login')}">
							<i class="icon-signal"></i>
						</a>
						<a class="btn btn-warning">
							<i class="icon-group"></i>
						</a>
					</div>
				</div>
			</div>
			<div id="menu_style" class="menu_style">
				<ul class="nav nav-list" id="nav_list" style="width: 188px;margin-top:43px;background-color: #F2F2F2;">
				      <li class="home">
				      	<a href="javascript:void(0)" name="{:url('Index/order')}" class="iframeurl" title=""><span class="menu-text"> 系统首页 </span>
				      	</a>
				      </li>
					  <li>
						<a href="#" class="dropdown-toggle">
							<span class="menu-text"> 轮播管理</span>
						</a>
						<ul class="submenu">
							<li class="home">
								<a href="javascript:void(0)" name="{:url('Carousel/carousel')}" title="广告管理" class="iframeurl">轮播管理</a>
							</li>
						</ul>
					  </li>
					  <li>
						<a href="#" class="dropdown-toggle">
							<span class="menu-text"> 交易管理 </span>
						</a>
	                    <ul class="submenu">
		                    <li class="home">
		                    	<a href="javascript:void(0)" name="{:url('order/order')}" title="交易金额"  class="iframeurl">待发货订单</a>
		                    </li>
		                    <li class="home">
		                    	<a href="javascript:void(0)" name="{:url('order/order')}" title="交易金额"  class="iframeurl">成功订单</a>
		                    </li>
		                    <li class="home">
		                    	<a href="javascript:void(0)" name="{:url('order/order')}" title="交易金额"  class="iframeurl">失败订单</a>
		                    </li>
	                   </ul>
					 </li>
                  	 <li>
						<a href="#" class="dropdown-toggle">
							<span class="menu-text"> 会员管理 </span>
						</a>
                    	<ul class="submenu">
                    		<li class="home">
                    			<a href="javascript:void(0)" name="{:url('User/user')}" title="会员列表"  class="iframeurl">会员列表</a>
                    		</li>
                  		 </ul>
				  	 </li>
			 		 <li>
			 		 	<a href="#" class="dropdown-toggle">
			 		 		<span class="menu-text"> 店铺管理</span>
			 		 	</a>
						<ul class="submenu">
							<li class="home">
								<a href="javascript:void(0)" name="{:url('Big/big')}" title="店铺类型" class="iframeurl">店铺类型</a>
							</li>
							<li class="home">
								<a href="javascript:void(0)" name="{:url('Small/Small')}" title="商品类型" class="iframeurl">商品类型</a>
						    </li>
							<li class="home">
								<a href="javascript:void(0)" name="{:url('Index/store')}" title="店铺列表" class="iframeurl">店铺列表</a>
							</li>
							<li class="home">
								<a href="javascript:void(0)" name="{:url('Index/delstore')}" title="店铺列表" class="iframeurl">已拒绝列表</a>
							</li>
                            <li class="home">
                            	<a href="javascript:void(0)" name="{:url('Index/checkedStore')}" title="店铺审核" class="iframeurl">店铺待审核</a>
                            </li>
						</ul>
					</li>
                    <li>
                    	<a href="#" class="dropdown-toggle">
                    		<span class="menu-text"> 管理员管理 </span>
                    	</a>
						<ul class="submenu">
                            <li class="home">
                            	<a href="javascript:void(0)" name="{:url('administor/administor')}" title="管理员列表" class="iframeurl">管理员列表</a>
                            </li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

		<div class="main-content">
			<div class="breadcrumbs" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="icon-home home-icon"></i>
						<a href="{:url('Index/order')}">首页</a>
					</li>
					<li class="active"><span class="Current_page iframeurl"></span></li>
                    <li class="active" id="parentIframe"><span class="parentIframe iframeurl"></span></li>
					<li class="active" id="parentIfour"><span class="parentIfour iframeurl"></span></li>
				</ul>
			</div> 
         	<iframe id="iframe" style="border:0; width:100%; background-color:#FFF;"name="iframe" frameborder="0" src="{:url('order/order')}"> </iframe>
		</div>
    
        <div class="ace-settings-container" id="ace-settings-container">
            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
              <i class="icon-cog bigger-150"></i>
            </div>

            <div class="ace-settings-box" id="ace-settings-box">
              <div>
                  <div class="pull-left">
                      <select id="skin-colorpicker" class="hide">
                          <option data-skin="default" value="#438EB9">#438EB9</option>
                          <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                          <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                          <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                      </select>
                  </div>
                  <span>&nbsp; 选择皮肤</span>
              </div>

              <div>
                  <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
                  <label class="lbl" for="ace-settings-sidebar"> 固定滑动条</label>
              </div>

              <div>
                  <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
                  <label class="lbl" for="ace-settings-rtl">切换到左边</label>
              </div>

              <div>
                  <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
                  <label class="lbl" for="ace-settings-add-container">
                      切换窄屏
                      <b></b>
                  </label>
              </div>
            </div>
        </div>	
	</div>
			
</body>
</html>

