<head>
{include file='public/css' /}
{include file='public/js' /}
    <script type="text/javascript">
      window.jQuery || document.write("<script src='js/jquery-1.11.3.min.js'>"+"<"+"/script>");
    </script>

    <script type="text/javascript">
      if("ontouchend" in document) document.write("<script src='js/jquery-1.11.3.js'>"+"<"+"/script>");
    </script>
    
<title>add_category</title>
</head>

<body>
<div class="type_style">
  <div class="type_title">
  {if $type == 'small'}
    商品类型
  {else /}
    商家类型
  {/if}


  </div>
</div>
<div class="page-content clearfix">
    <div id="Member_Ratings">
      <div class="d_Confirm_Order_style">
    <div class="search_style">
      <ul class="search_content clearfix">
       <li><label class="l_f">类型名称&ensp;&ensp;</label><input name="" class="text_add" placeholder="输入类型"  style=" width:200px"/></li>
       <li><label class="l_f">添加时间</label><input class="inline laydate-icon" id="start" style=" margin-left:10px;"></li>
       <li style="width:290px;"><button type="button" class="btn_search"><i class="icon-search"></i>查询</button></li>
      </ul>
    </div>
     <div class="search_style">
    
    <form action="" method="post">
      <ul class="search_content clearfix">
       <li> <label class="l_f">
      {if $type == 'small'}
           销售类型&ensp;
           <select id='sel'>
             {foreach $bigType as $vo}
                <option>{$vo['style']}</option>
             {/foreach}
            </select>
     &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;商品名称</label><input name="name" type="text"  class="text_add" placeholder="输入类型名称"  style=" width:120px"/><span id='s' style="color: red;"></span></li>
       {else /}
       <li><label class="l_f">类型名称:</label><input name="type" type="text"  class="text_add" placeholder="输入类型名称"  style=" width:200px"/><span id='s' style="color: red;"></span></li>
       {/if}
       <li><label class="l_f"> &ensp;&ensp; &ensp;&ensp; &ensp;&ensp;类型描述:</label><input class="inline laydate-icon" name="description" style=" margin-left:10px;"></li>
       <li style="width:220px;"><input type="button" id="submit" value="添加"></li>
      </ul>

    <script type="text/javascript">
    {if $type == 'small'}

      /*添加具体商品类型的js代码*/
      $(function()
      {
        $('#submit').click(function()
          {
            var sel = $('#sel').val();
            var name = $('input[name=name]').val();
            var description = $('input[name=description]').val();
           
            $.post("{:url('Small/addCategory')}" ,  {'sel':sel , 'name':name, 'description':description } , function(data){
                data = JSON.parse(data);
                if(data == 0)
                {
                  alert('添加失败');
                }
                else
                {
                 console.log(data);
                 $('#tr').after('<tr id="goods" style="text-align:center;"><td><input type="checkbox" ></td><td>a</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>');
                $('#goods').children().eq(1).html(data.id);
                $('#goods').children().eq(2).html(data.sel);
                $('#goods').children().eq(3).html(data.name);
                $('#goods').children().eq(4).html(data.description);
                $('#goods').children().eq(5).html(data.create_time);
                $('#goods').children().eq(6).html('<td class="td-status"><span class="label label-success radius">已启用</span></td>');
               $('#goods').children().eq(7).html('<td class="td-status"><a   href="javascript:;" title="停用"  class="btn btn-xs btn-success"><i class="icon-ok bigger-120"></i></a> <a title="编辑" href="javascript:;"  class="btn btn-xs btn-info" ><i class="icon-edit bigger-120"></i></a><a title="删除" href="javascript:;"   class="btn btn-xs btn-warning" ><i class="icon-trash  bigger-120"></i></a>');
                }

            },"json");
          });
       });

    {else /}

      /*添加大版块类型的js代码*/
       $(function()
      { 
        /*检测要添加的类型是否已存在*/
        $("input[name=type]").blur(function(){
            var type = $("input[name=type]").val();
            $.post("{:url('Big/selectCategory')}", { "type": type },
               function(data){
                if(data == 0)
                {
                  $("#s").html("已存在!");
                  return false;
                }
                else
                {
                  $("#s").html();
                }
               }, "json");
        });

        /*添加商店类型*/
        $('#submit').click(function()
          {
            var type = $("input[name=type]").val();
            console.log(type);
            var description = $("input[name=description]").val();
          $.post("{:url('Big/addCategory')}", { "type": type , "description" : description },
            function(data){
              var data = JSON.parse(data);
               if(data.status == 1)
               {
                console.log('添加成功!');
               }
               else
               {
                console.log('添加失败');
                return false;
               }
             }, "json");
          });
      });

    {/if}
    </script>

    </form>

    </div>
     <!---->
     <div class="border clearfix">
       <span class="l_f">
        <a href="javascript:ovid()" class="btn btn-danger"><i class="icon-trash"></i>批量删除</a>
       </span>
       <span class="r_f">共：<b>2345</b>条</span>
     </div>
     <!---->
     <div class="table_menu_list">
    <table class="table table-striped table-bordered table-hover" id="sample-table" style="width: 100%;">
    <thead>
     <tr id='tr'>
      <th width="5"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th>
      <th width="10">ID</th>
      <th width="40">所属类型</th>
      <th width="40">商品名称</th>
      <th width="250">商品描述</th>
      <th width="85">添加时间</th>
      <th width="85">状态</th>
      <th width="85">操作</th>
      </tr>
    </thead>
    <tbody >
  
      {foreach $data as $vo}
        <tr>
          <td><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>
          <td>{$vo['id']}</td>
          <td><u style="cursor:pointer" class="text-primary" onclick="member_show('张三','member-show.html','10001','500','400')">{$vo['big_style']}</u></td>
          <td>{$vo['name']}</td>
          <td>{$vo['description']}</td>
          <td>{$vo['create_time']}</td>
          <td class="td-status"><span class="label label-success radius">已启用</span></td>
          <td class="td-manage">
          <a onClick="member_stop(this,'10001')"  href="javascript:;" title="停用"  class="btn btn-xs btn-success"><i class="icon-ok bigger-120"></i></a> 
          <a title="编辑" onclick="member_edit('550')" href="javascript:;"  class="btn btn-xs btn-info" ><i class="icon-edit bigger-120"></i></a> 
          <a title="删除" href="javascript:;"  onclick="member_del(this,'1')" class="btn btn-xs btn-warning" ><i class="icon-trash  bigger-120"></i></a>
          </td>
        </tr>
      {/foreach}
      </tbody>
  </table>
   </div>
  </div>
 </div>
</div>
<!--添加用户图层-->


</body>
</html>
<script>
/*$(function($) {
        var oTable1 = $('#sample-table').dataTable( {
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
    "bStateSave": true,//状态保存
    "aoColumnDefs": [
      //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
      {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
    ] } );

        $('table th input:checkbox').on('click' , function(){
          var that = this;
          $(this).closest('table').find('tr > td:first-child input:checkbox')
          .each(function(){
            this.checked = that.checked;
            $(this).closest('tr').toggleClass('selected');
          });
            
        });
      
      
        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
          var $source = $(source);
          var $parent = $source.closest('table')
          var off1 = $parent.offset();
          var w1 = $parent.width();
      
          var off2 = $source.offset();
          var w2 = $source.width();
      
          if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
          return 'left';
        }
      })*/
/*用户-添加*/
/* $('#member_add').on('click', function(){
    layer.open({
        type: 1,
        title: '添加店铺类型:',
    maxmin: true, 
    shadeClose: true, //点击遮罩关闭层
        area : ['800px' , ''],
        content:$('#add_menber_style'),
    btn:['提交','取消'],
    yes:function(index,layero){ 
     var num=0;
     var str="";
     $(".add_menber input[type$='text']").each(function(n){
          if($(this).val()=="")
          {
               
         layer.alert(str+=""+$(this).attr("name")+"不能为空！\r\n",{
                title: '提示框',       
        icon:0,               
          }); 
        num++;
            return false;            
          } 
     });
      if(num>0){  return false;}    
          else{
        layer.alert('添加成功！',{
               title: '提示框',        
      icon:1,   
        });
         layer.close(index);  
      }                     
    }
    });
});*/



/*用户-查看*/
function member_show(title,url,id,w,h){
  layer_show(title,url+'#?='+id,w,h);
}
/*用户-停用*/
function member_stop(obj,id){
  layer.confirm('确认要停用吗？',function(index){
    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn btn-xs " onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="icon-ok bigger-120"></i></a>');
    $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
    $(obj).remove();
    layer.msg('已停用!',{icon: 5,time:1000});
  });
}

/*用户-启用*/
function member_start(obj,id){
  layer.confirm('确认要启用吗？',function(index){
    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn btn-xs btn-success" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="icon-ok bigger-120"></i></a>');
    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
    $(obj).remove();
    layer.msg('已启用!',{icon: 6,time:1000});
  });
}
/*用户-编辑*/
function member_edit(id){
    layer.open({
        type: 1,
        title: '修改用户信息',
    maxmin: true, 
    shadeClose:false, //点击遮罩关闭层
        area : ['800px' , ''],
        content:$('#add_menber_style'),
    btn:['提交','取消'],
    yes:function(index,layero){ 
     var num=0;
     var str="";
     $(".add_menber input[type$='text']").each(function(n){
          if($(this).val()=="")
          {
               
         layer.alert(str+=""+$(this).attr("name")+"不能为空！\r\n",{
                title: '提示框',       
        icon:0,               
          }); 
        num++;
            return false;            
          } 
     });
      if(num>0){  return false;}    
          else{
        layer.alert('添加成功！',{
               title: '提示框',        
      icon:1,   
        });
         layer.close(index);  
      }                     
    }
    });
}
/*用户-删除*/
function member_del(obj,id){
  layer.confirm('确认要删除吗？',function(index){
    $(obj).parents("tr").remove();
    layer.msg('已删除!',{icon:1,time:1000});
  });
}
laydate({
    elem: '#start',
    event: 'focus' 
});

</script>