<script src="__JS__layer.js" type="text/javascript"></script>

<script src="__JS__jquery-1.11.3.js"></script>  

<script src="__JS__h-ui_1.js"   type="text/javascript" ></script> 

<script src="__JS__bootstrap.min.js"></script>
<script src="__JS__typeahead-bs2.min.js"></script>

<script src="__JS__ace.min.js"></script>
<script src="__JS__echarts.js"></script>


<script src="__JS__bootstrap.min_6.js"></script>
<script type="text/javascript" src="__JS__validform.min.js"></script>
<script src="__JS__typeahead-bs2.min_5.js"></script>           	
<script src="__JS__jquery.datatables.min_3.js"></script>
<script src="__JS__jquery.datatables.bootstrap_3.js"></script>
<script src="__JS__layer_6.js" type="text/javascript" ></script>          
<script src="__JS__lrtk_2.js" type="text/javascript" ></script>
 <script src="__JS__layer_6.js" type="text/javascript"></script>	
<script src="__JS__laydate_4.js" type="text/javascript"></script>


<script src="__JS__layer_10.js" type="text/javascript" ></script>
<script src="__JS__laydate_8.js" type="text/javascript"></script>  
<script src="__JS__bootstrap.min_10.js"></script>
<script src="__JS__typeahead-bs2.min_9.js"></script>           	
<script src="__JS__jquery.datatables.min_6.js"></script>
<script src="__JS__jquery.datatables.bootstrap_6.js"></script>
	         	
<script src="__JS__jquery.datatables.bootstrap_3.js"></script>
<script src="__JS__h-ui_2.js" type="text/javascript"></script>
<script src="__JS__displaypart_1.js" type="text/javascript"></script>

<script src="__JS__jquery.min_2.js"></script>