<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__order_style.css" rel="stylesheet">   
{include file='public/js' /}
<title>尤洪</title>
</head>
<body>  
  {include file='seller/selhead' /}
<div class="i_bg bg_color">
    <!--Begin 用户中心 Begin -->
  <div class="m_content">
    {include file='seller/selcommon' /}
    <div class="m_right" style="margin-left: 0px;">

      <div class="myotitle bg-white clearfix">
          <div class="col-xs-3 clearPadding text-center pt10"><span class="activeborder">全&nbsp;&nbsp;&nbsp;部</span></div>
          <div class="col-xs-2 clearPadding text-center pt10"><span class="pb8">待付款</span></div>
          <div class="col-xs-2 clearPadding text-center pt10"><span>待发货</span></div>
          <div class="col-xs-2 clearPadding text-center pt10"><span>已发货</span></div>
          <div class="col-xs-3 clearPadding text-center pt10"><span>已完成</span></div>
      </div>

      <div id="ocontent">


        <div class="myolist" style="border: 1px solid red;">
          <div class="myorderid clearfix plr15 borderbottom">
            <h4 class="pull-left font12">
              <span>订单号: 1448875396318</span>
            </h4>
            <h4 class="pull-right font12">2015-11-30 17:23 &nbsp;&nbsp;<i class="iconfont arrowdown">&#xe60c;</i></h4>
          </div>
          <div class="myddetailbox">
            <div class="myodetail clearfix">
              <div class="col-xs-2 clearPadding proimg">
                <img src="__IMAGE__img1.jpg" alt="" style="width:50px;">
              </div>
              <div class="col-xs-8 clearPadding proname plr10 ">  原味手剥大瓜子原味手剥大瓜子原味手剥大瓜子原味手剥大瓜子原味手剥大瓜子原味手剥大瓜子原味手剥大瓜子原味手剥大瓜子
              </div>
              <div class="col-xs-2 clearPadding text-right">
                <span class="colorred2">￥59.90</span><br>
                <span class="font12 text-muted">× 100</span>
              </div>
            </div>
            
            <div class="ptb10 plr15 text-muted font12 clearfix">
              <div class="pull-left font12">
                <span class="badge bg-dining" style="font-weight:normal;">待付款</span>
              </div>
              <div class="pull-right">
                <span>共100件商品</span>&nbsp;&nbsp;合计：<span class="colorred2">￥5990</span>
              </div>
            </div>
          </div>
        </div>

    </div>
  <!--End 用户中心 End-->  
</div>
</body>
</html>
<script src="js/jquery-2.1.4.min.js"></script>
<script>
$(".myotitle >div").click(function(){
  $(this).find("span").addClass("activeborder");
  $(this).siblings().find("span").removeClass("activeborder");
});
$('.arrowdown').click(function(){
  $(this).parent().parent().next().slideToggle("slow");
});
</script> 
