<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__order_style.css" rel="stylesheet">   
{include file='public/js' /}
<title>尤洪</title>
</head>
<body>  
  {include file='seller/selhead' /}
<div class="i_bg bg_color">
    <!--Begin 用户中心 Begin -->
  <div class="m_content">
    {include file='seller/selcommon' /}
  
    <div class="m_right" style="margin-left: 0px;">

      <div class="myotitle bg-white clearfix">
          <div class="col-xs-3 clearPadding text-center pt10"><a href="{:url('SellerOrder/sellerOrder')}" class="activeborder">全&nbsp;&nbsp;&nbsp;部</a></div> 
          <div class="col-xs-2 clearPadding text-center pt10"><a href="{:url('SellerOrder/obligationOrder' , ['is_pay' => 0])}">待买家付款</a></div>
          <div class="col-xs-2 clearPadding text-center pt10"><a href="{:url('SellerOrder/obligationOrder' , ['is_pay' => 1])}">待发货</a></div>
          <div class="col-xs-2 clearPadding text-center pt10"><a href="{:url('SellerOrder/obligationOrder' , ['is_pay' => 2])}">待收款</a></div>
          <div class="col-xs-3 clearPadding text-center pt10"><a href="{:url('SellerOrder/obligationOrder' , ['is_pay' => 3])}">已完成</a></div>
      </div>
    
      <div id="ocontent">
        {if isset($orderInfo)}
        {foreach $orderInfo as $value}
        <div class="myolist" style="border: 1px solid red;">
          <div class="myorderid clearfix plr15 borderbottom">
            <h4 class="pull-left font12">
              <span>订单号:{$value['num_id']}</span>
            </h4>
            <h4 class="pull-right font12">{$value['create_time']} &nbsp;&nbsp;<i class="iconfont arrowdown">&#xe60c;</i></h4>
          </div>
      

          <div class="myddetailbox">
            
            {foreach $value['good'] as $key => $vo}
              <div class="myodetail clearfix" style="border: 1px solid grey;">
                <div class="col-xs-2 clearPadding proimg">
                  <img src="{$vo['picture']|substr=1}" alt="" style="height:70px;">
                </div>
                <div class="col-xs-8 clearPadding proname plr10 ">{$vo['name']}&ensp;&ensp;&ensp;{$vo['description']}
                </div>
                <div class="col-xs-2 clearPadding text-right">
                  <span class="colorred2" style="text-decoration: line-through;">￥{$vo['price']}</span><br>
                  <span class="colorred2">￥{$vo['price']*$vo['discount']}</span><br>
                  <span class="font12 text-muted">× {$value['count']}</span><br>
                  小计 : <span class="font12 text-muted" style="color: black;">{$vo['price']*$vo['discount']*$value['count']}</span>
                </div>
              </div>
            {/foreach}
            
            <div class="ptb10 plr15 text-muted font12 clearfix">
              <div class="pull-left font12">
                <span class="badge bg-dining" style="font-weight:normal;">{$value['is_pay']}</span>
                {if $value['is_pay'] == '待发货'}
                  <a href="#" class="badge bg-dining send" style="font-weight:normal;">发货</a>
                  <input type="hidden" value="{$value['num_id']}">
                {/if}
                
              </div>
              <div class="pull-right">
                <span>共<b style="color: black;">{$value['countAll']}</b>件商品</span>&nbsp;&nbsp;已付款：<span class="colorred2">￥{$value['priceAll']}</span>
              </div>
            </div>
          </div>
        </div>
        {/foreach}
        {/if}
    </div>
  <!--End 用户中心 End-->  
</div>
</body>
</html>

<script>
$(".myotitle >div").click(function(){
  $(this).find("span").addClass("activeborder");
  $(this).siblings().find("span").removeClass("activeborder");
});
$('.arrowdown').click(function(){
  $(this).parent().parent().next().slideToggle("slow");
});
</script> 

<script type="text/javascript">
$(function()
  {

    $('.send').each(function()
      {
          $(this).click(function()
          {
             var num_id = $(this).next().val(); 

             $.post("{:url('SellerOrder/updateState')}" , {'num_id' : num_id , 'is_pay' : 2} , function(data)
              {
                  if(data)
                  {
                    $(this).parent().parent().empty();
                    alert('发货成功!');

                  }
                  else
                  {
                    aler('发货失败!');
                  }
      
              });


          });

      });
    

  });
</script>
