<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="__CSS__style.css" />
    <script type="text/javascript" src="__JS__jquery-1.11.1.min_044d0927.js"></script>
	<script type="text/javascript" src="__JS__jquery.bxslider_e88acd1b.js"></script>
    <script type="text/javascript" src="__JS__jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__JS__menu.js"></script>          
	<script type="text/javascript" src="__JS__lrscroll_1.js"></script>
    <script type="text/javascript" src="__JS__n_nav.js"></script>    
    <script type="text/javascript" src="__JS__milk_ban.js"></script>
    <script type="text/javascript" src="__JS__paper_ban.js"></script>
    <script type="text/javascript" src="__JS__baby_ban.js"></script>
<title>商品列表</title>
</head>
<body>  

<!--End Menu End-->
{include file="common/indexheader"} 
<div class="i_bg">
	<div class="postion">
    	<span class="fl"></span>
    </div>
    
    <div class="content mar_20">
    	<div class="l_history">
        	<div class="his_t">
            	<span class="fl">浏览历史</span>
                <span class="fr"><a href="#">清空</a></span>
            </div>
        	<ul>
            	<li>
                    <div class="img"><a href="#"><img src="__IMAGE__his_1.jpg" width="185" height="162" /></a></div>
                	<div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                    <div class="price">
                    	<font>￥<span>368.00</span></font> &nbsp; 18R
                    </div>
                </li>
              
        	</ul>
        </div>
        <div class="l_list">
        	<div class="list_t">
            	<span class="fl list_or">
                	<a href="#" class="now">默认</a>
                    <a href="#">
                    	<span class="fl">销量</span>                  
                        <span class="i_up">销量从低到高显示</span>
                        <span class="i_down">销量从高到低显示</span>
                    </a>
                    <a href="#">
                    	<span class="fl">价格</span>                        
                        <span class="i_up">价格从低到高显示</span>
                        <span class="i_down">价格从高到低显示</span>     
                    </a>
                    <a href="#">新品</a>
                </span>
                <span class="fr">共发现120件</span>
            </div>
            <div class="list_c">
                <ul class="cate_list">
               {foreach $res as $vo}
                	<li style="background-color:;">
                    	<div class="img"><a href="{:url('index/details',['good'=>$vo['id']])}"><img src="{$vo.picture|substr=1}" width="210" height="185" /></a></div>
                        <div class="price">
                            <font>￥<span>{$vo['price'] * $vo['discount']}</span></font> &nbsp; <span style="text-decoration: line-through;">{$vo['price']}</span>
                        </div>
                        <div class="name"><a href="#">{$vo['name']}</a></div>
                        <div class="carbg">
                        	<a href="#" class="ss">收藏</a>
                        <div style="width:75px;height: 30px;background-color: pink;">
                            <a class='addCar'>加入购物车</a>
                            <input type="hidden" value="{$vo['id']}">
                        </div>
                        </div>
                    </li>  
                    
              {/foreach}
                  </ul>
                
                <div class="pages">
                	<a href="#" class="p_pre">上一页</a><a href="#" class="cur">1</a><a href="#">2</a><a href="#">3</a>...<a href="#">20</a><a href="#" class="p_pre">下一页</a>
                </div>
            </div>
        </div>
    </div>
   {include file="common/indexfooter"}
</body>
</html>

<script type="text/javascript">
$(function()
    {
       /*$('#addCar').click(function()
        {   
            var id = $(this).next().val();
            alert(id);
            $.post("{:url('Car/addCar')}" , {'id' : id} , function(data)
                {
                    if(data)
                    {
                        alert('加入成功!');
                    }

                } , "json");
        });*/

        $('.addCar').each(function()
            {
                $(this).click(function()
                {   
                    var id = $(this).next().val();
                    //alert(id);
                    $.post("{:url('Car/addCar')}" , {'id' : id} , function(data)
                        {
                            if(data)
                            {
                                alert('加入成功!');
                            }

                        } , "json");
                });
            });
        


    });
</script>>