<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>mumma.com</title>
</head>
<body>  
<!--Begin Header Begin-->
{include file='common/indexHeader' /}
<div class="menu_bg">
    <div class="menu">

        <!--Begin 商品分类详情 Begin-->    
        <div class="nav">
            <div class="nav_t">全部商品分类</div>
            <div class="leftNav">
                <ul>  
                 {volist name="res1" id="vo"}   
                    <li>
                    	<div class="fj">
                        	<span class="n_img"><span></span><img src="__IMAGE__nav1.png" /></span>
                            <span class="fl">{$vo.style}</span>
                        </div>
                        <div class="zj">
                            <div class="zj_l">
                                <div class="zj_l_c">
                                  {volist name="goods_res" id="v"}
                                    {if condition="$v.big_id eq $vo.id"}
                                    <a href="#">{$v.name}</a>|
                                     {/if}
                                     {/volist}
                                </div>
                            </div>
                            
                        </div>
                    </li>
                    {/volist}                 
                </ul>            
            </div>
        </div>  
        <!--End 商品分类详情 End-->  

        <ul class="menu_r">
           <li><a href="Index.html">首页</a></li>
        {foreach $res1 as $vo} 
            <li><a href="{:url('index/brandlist',['big'=>$vo['id']])}">{$vo['style']}</a></li>
        {/foreach}
        </ul>
        <div class="m_ad">预购双十一！</div>
    </iv>
</div>


<div class="i_bg bg_color">
    <div class="i_ban_bg">
        <!--Begin Banner Begin-->
        <div class="banner">        
            <div class="top_slide_wrap">
                <ul class="slide_box bxslider">
                {foreach $carousel as $val}
                    <li><img src="/carousel/{$val['url']}" width="740" height="401" /></li>
                {/foreach}
                </ul>	
                <div class="op_btns clearfix">
                    <a href="#" class="op_btn op_prev"><span></span></a>
                    <a href="#" class="op_btn op_next"><span></span></a>
                </div>        
            </div>
        </div>
        <script type="text/javascript">
        //var jq = jQuery.noConflict();
        (function(){
            $(".bxslider").bxSlider({
                auto:true,
                prevSelector:jq(".top_slide_wrap .op_prev")[0],nextSelector:jq(".top_slide_wrap .op_next")[0]
            });
        })();
        </script>
        <!--End Banner End-->
        <div class="inews">
            <div class="news_t">
                <span class="fr"><a href="#">更多 ></a></span>商家文章
            </div>
            <ul>
                <li><span>[ 特惠 ]</span><a href="#">掬一轮明月 表无尽惦念</a></li>
            </ul>
        </div>
    </div>
   
    <!--Begin 最新商品 Begin-->
    <div class="content mar_10">
    	<div class="h_l_img">
        	<div class="img"><img src="{$latest[0]['picture']|substr=1}" width="188" height="188" /></div>
            <div class="pri_bg">
                <span class="price fl">￥{$latest[0]['price']*$latest[0]['discount']}</span>
                <span class="fr" style="text-decoration: line-through;">{$latest[0]['price']}</span>
            </div>
        </div>
        <div class="hot_pro">           
            <div id="block">
                <ul class="featureUL">
                {foreach $latest as $val}
                    <li class="featureBox">
                        <div class="box">
                        	<div class="h_icon"><img src="__IMAGE__hot.png" width="50" height="50" /></div>
                            <div class="imgbg">
                                <a href="{:url('Index/details' , ['good' => $val['id']])}"><img src="{$val['picture']|substr=1}" width="160" height="136" /></a>
                            </div>                                        
                            <div class="name">
                                <a href="#">
                                <h2>{$val['name']}</h2>
                                {$val['description']}
                                </a>
                            </div>
                            <div class="price">
                                <font>￥<span>{$val['price']*$val['discount']}</span></font> &nbsp; <span style="font-size: 12px;text-decoration: line-through;">￥{$val['price']}</span>
                            </div>
                        </div>
                    </li>
                {/foreach}

                </ul>
            </div>
        </div>
    </div>
   
    <div class="content mar_20">
        <img src="__IMAGE__mban_1.jpg" width="1200" height="110" />
    </div>

    <!--Begin 个人美妆 Begin-->  
    {volist name="res1" id="vo"}  
    <div class="i_t mar_10">
        <span class="floor_num"></span>
        <span class="fl">{$vo.style}</span>                               
    </div>
    <div class="content">
        <div class="make_left">
           <div class="make_ban">
                <div id="imgPlay3">
                    <ul class="imgs" id="actor3">
                        <li><a href="#"><img src="__IMAGE__make_r.jpg" width="211" height="286" /></a></li>
                        <li><a href="#"><img src="__IMAGE__make_r.jpg" width="211" height="286" /></a></li>
                        <li><a href="#"><img src="__IMAGE__make_r.jpg" width="211" height="286" /></a></li>
                    </ul>
                    <div class="prev_m">上一张</div>
                    <div class="next_m">下一张</div> 
                </div>   
            </div>

            <div class="fresh_txt">
                <div class="fresh_txt_c">
                {foreach $goods_res as $val}
                {if condition="$val.big_id eq $vo.id"}
            
                    <a href="{:url('index/details',['good'=>$val['id']])}">{$val.name}</a> 
                {/if}
               {/foreach} 
                </div>
            </div>
        </div>
        <div class="fresh_mid">
            <ul>
             {volist name="goods_res" id="v"}
            {if condition="$v.big_id eq $vo.id"}
                <li>
                    <div class="name"><a href="#">{$v.name}</a></div>
                    <div class="price">
                        <font>￥<span>{$v.price}</span></font> &nbsp; 16R
                    </div>
                    <div class="img"><a href="{:url('index/details',['good'=>$v['id']])}"><img src="{$v.picture|substr=1}" width="185" height="155" /></a></div>
                </li>
            {/if}
            {/volist}
            </ul>
        </div>
        <div class="fresh_right">
            <ul>
                <li><a href="#"><img src="__PICTURE__make_b1.jpg" width="260" height="220" /></a></li>
                <li><a href="#"><img src="__IMAGE__make_b2.jpg" width="260" height="220" /></a></li>
            </ul>
        </div>
    </div>    
    {/volist}
    <!--End 个人美妆 End-->

{include file="common/indexFooter"}


</body>

</html>
