<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>myComment</title>
</head>
<body>  
<!--Begin Header Begin-->
{include file="common/mpheader"}
<div class="m_content">
{include file="common/mpleft"}
		<div class="m_right">
            
			<div class="mem_t">
            	我的评价
            </div>
            <table border="1" class="mem_tab" style="width:870px; text-align:center; margin-top:20px;" cellspacing="0" cellpadding="0">
              <tr>
                <td class="th_bg1" colspan="6">我的评价</td>
              </tr>
              <tr>
                <td width="145" class="td_bg"></td>                       
                <td width="145">时间</td>
                <td width="145" class="td_bg">商品名称</td>
                <td width="145">店铺</td>
                <td width="145" class="td_bg">金额</td>
                <td width="145">内容</td>
              </tr>
              <tr>
                <td width="145" class="td_bg">好评</td>                       
                <td width="145">100R</td>
                <td width="145" class="td_bg">已消费</td>
                <td width="145">1000R</td>
                <td width="145" class="td_bg">联盟积分</td>
                <td width="145">1000R</td>
              </tr>
              <tr>
                <td width="145" class="td_bg">中评</td>                       
                <td width="145">100R</td>
                <td width="145" class="td_bg">已消费</td>
                <td width="145">1000R</td>
                <td width="145" class="td_bg">联盟积分</td>
                <td width="145">1000R</td>
              </tr>
              <tr>
                <td width="145" class="td_bg">差评</td>                       
                <td width="145">100R</td>
                <td width="145" class="td_bg">已消费</td>
                <td width="145">1000R</td>
                <td width="145" class="td_bg">联盟积分</td>
                <td width="145">1000R</td>
              </tr>
              <tr>
               <td class="th_bg1" colspan="6">获得积分:234</td>
              </tr>
            </table>
       </div>
    </div>
	<!--End 用户中心 End--> 
    {include file="common/mpfooter"}
</body>
</html>
