<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="__CSS__style.css" />
  
    
    <script type="text/javascript" src="__JS__jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__JS__menu.js"></script>    
                
	<script type="text/javascript" src="__JS__n_nav.js"></script>   
    
    <script type="text/javascript" src="__JS__num.js">
    	var jq = jQuery.noConflict();
    </script>     
    
    <script type="text/javascript" src="__JS__shade.js"></script>
    
<title>小馋猫</title>
</head>
<body>  
{include file="common/indexHeader"}
<!--Begin Header Begin-->

    	<!--Begin 所在收货地区 Begin-->
    	
        <!--End 所在收货地区 End-->
 
<!--End Menu End--> 
<div class="i_bg">  
    <div class="content mar_20">
    	<img src="images/img3.jpg" />        
    </div>
    
    <!--Begin 第三步：提交订单 Begin -->
    <div class="content mar_20">
    	
        <!--Begin 银行卡支付 Begin -->
    	<div class="warning">        	
            <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">
              <tr height="35">
                <td style="font-size:18px;">
                	感谢您在本店购物！您的订单已提交成功 <font color="#ff4e00"></font>
                </td>
              </tr>
              <tr>
                <td style="font-size:14px; font-family:'宋体'; padding:10px 0 20px 0; border-bottom:1px solid #b6b6b6;">
                	您选定的配送方式为: <font color="#ff4e00">申通快递</font>； &nbsp; &nbsp;您选定的支付方式为: <font color="#ff4e00">支付宝</font>； &nbsp; &nbsp;
                </td>
              </tr>
             
              <tr>
                <td>
                	<a href="{:url('index/index')}">首页</a> &nbsp; &nbsp; <a href="{:url('order/myorder')}">订单中心</a>
                </td>
              </tr>
            </table>        	
        </div>
        <!--Begin 银行卡支付 Begin -->
      
        
       
        
    </div>
	<!--End 第三步：提交订单 End--> 
    
    
    <!--Begin Footer Begin -->
    {include file="common/indexFooter"}
    <!--End Footer End -->    
</div>

</body>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
