<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{include file="common/mcss"}
<title>我的订单</title>
</head>
<body>
{include file="common/mpheader"}  
      <div class="m_content">
{include file="common/mpleft"}
		<div class="m_right">
            <p></p>
            <div class="mem_tit">我的订单</div>
            {if empty($ord)}
            <div style="text-align: center;">小主你还没有订单哦～～～～</div>
            {else}
            <table border="0" class="order_tab" style="width:930px; text-align:center; margin-bottom:30px;" cellspacing="0" cellpadding="0">
              <tr>                      
                <td width="20%"></td>
                <td width="25%"><a href="">待付款</a></td>
                <td width="15%"><a href="">已完成</a></td>
                <td width="25%"><a href="">状态</a></td>
                
              </tr>
              <tr>                      
                <td width="20%">订单号</td>
                <td width="25%">下单时间</td>
                <td width="15%">订单总金额</td>
                <td width="25%">订单状态</td>
                
              </tr>
              {foreach $ord as $vo}
              {foreach $vo as $v}
              <tr>
                <td><font color="#ff4e00"><a href="{:url('Order/orderDetails',['num_id'=>$v.num_id])}">{$v.num_id}</a></font></td>
                <td>{$v.create_time}</td>
                <td>￥{$v.payable}</td>
                <td>
                    {if $v.is_pay ==0}<span><a href="{:url('order/pay',['is_pay'=>$v.is_pay])}">待付款</a></span> {/if}
                    {if $v.is_pay ==1 || $v.is_pay==2}
                    <font color=red id="shouhou"><a href="{:url('order/pay',['is_pay'=>$v.is_pay])}">待收货</a></font>{/if}
                    <button>确认收货</button>
                </td>
              </tr>
              {/foreach}
             {/foreach}
             {/if}
            </table>     
        </div>
    </div>
	<!--End 用户中心 End--> 
   {include file="common/mpfooter"}
</body>

</html>
