<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="__CSS__style.css" />
    
    <script type="text/javascript" src="__JS__jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__JS__menu.js"></script>    
                
	<script type="text/javascript" src="__JS__n_nav.js"></script>   
    
    <script type="text/javascript" src="__JS__select.js"></script>
    
    <script type="text/javascript" src="__JS__num.js">
    	var jq = jQuery.noConflict();
    </script>     
    
    <script type="text/javascript" src="__JS__shade.js"></script>
    
<title>订单表</title>
</head>
<body>  
{include file="common/indexHeader" /}
<!--End Menu End--> 
<div class="i_bg">  
    <div class="content mar_20">
    	<img src="__IMAGE__img2.jpg" />        
    </div>
    <!--Begin 第二步：确认订单信息 Begin -->
    <div class="content mar_20">
    	<div class="two_bg">
        	<div class="two_t">
            	<span class="fr"><a href="{:url('car/car')}">修改</a></span>商品列表
            </div>
            <table border="0" class="car_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
              <tr>
                <td class="car_th" width="180">订单号</td>
                <td class="car_th" width="200">商品名称</td>
                <td class="car_th" width="80">重量</td>
                <td class="car_th" width="150">购买数量</td>
                <td class="car_th" width="140">单价</td>
                <td class="car_th" width="70">折扣</td>
                <td class="car_th" width="70">小计</td>
                <td class="car_th" width="70">奖励积分</td>
              </tr>
            {if isset($info)}
            {foreach $info as $vo}
                <tr>
                <td><input style="border: none;" readonly name="num_id" value="{$vo['num_id']}" /></td>
                  <td>
                      <div class="c_s_img"><img src="{$vo['goodInfo']['picture']|substr=1}" width="73" height="73" /></div>
                      {$vo['goodInfo']['name']}
                  </td>
                  <td align="center">{$vo['goodInfo']['weight']}g</td>
                  <td align="center">{$vo['number']}</td>
                  <td align="center">￥{$vo['goodInfo']['price']}</td>
                  <td align="center">{$vo['goodInfo']['discount']}</td>
                  <td align="center" style="color:#ff4e00;">￥{$vo['goodInfo']['price']*$vo['number']*$vo['goodInfo']['discount']} </td>
                  <td align="center">{$vo['goodInfo']['price']*0.1}</td>
                </tr>
            {/foreach}
            {/if}
            </table>
            <div class="two_t">
            	<span class="fr"><a href="{:url('car/car')}">修改</a></span>收货人信息
            </div> {if !empty($addrRes)}

            <table border="0" class="peo_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
              <tr>
                <td class="p_td" width="160">收货人</td>
                <td width="395">{$addrRes.0.addr_name}</td>
                <td class="p_td" width="160">电子邮件</td>
                <td width="395">{$addrRes.0.addr_email}</td>
              </tr>
              <tr>
                <td class="p_td">详细信息</td>
                <td>{$addrRes.0.addr_detail}</td>
                <td class="p_td">手机</td>
                <td>{$addrRes.0.addr_phone}</td>
              </tr>
              
              
            </table>
            {else}
            <div style="text-align: center;">小主你还没地址哦,<a href="{:url('address/address')}">点我去填写地址吧~~~~~</a></div>
            {/if}
           
            <table border="0" style="width:900px; margin-top:20px;" cellspacing="0" cellpadding="0">
              <tr height="70">
                <td align="right">
                  <b style="font-size:14px;">应付款金额：<span style="font-size:22px; color:#ff4e00;">￥{$acount}</span></b><br />
                   <a id='make'>确认付款</a>
                </td>
              </tr>
              <tr height="70">
                <td align="right"><a href="BuyCar_Three.html"><img src="images/btn_sure.gif" /></a></td>
              </tr>
            </table>
          </div>
    </div>
   {include file="common/indexFooter"}

</div>
</body>
</html>

<script type="text/javascript">
$(function()
  {
    $('#make').click(function()
        {
           // alert(111);
            var str = ""; 
            $("input[name=num_id]").each(function()
            {               
              //alert($(this).val());
              str +=  $(this).val() + '|';
            });
            //alert(str);
            console.log(str);
           $.post("{:url('Order/makeSure')}" , {'num_id' : str } , function(data)
                {
                  console.log(data);
                  if(data)
                  {
                    alert('付款成功,等待宝贝到达吧!');
                    window.location.href="{:url('Order/forder')}"
                  }
                  else
                  {
                    alert('付款失败,是否网络延迟或者已经付过款了?');
                  }
                }); 
            
            //console.log(str);
            
                       
        });

  });
</script>
