<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{include file='public/css' /}
{include file='public/js' /}
<title>login</title>
</head>
<body class="login-layout Reg_log_style">
   
  <div class="login-container" style="margin-top: 150px;">
	  <div class="widget-body">
			<div class="widget-main">
        <h4 class="header blue lighter bigger">
					<i class="icon-coffee green">管理员登录</i>
				</h4>
        <div class="login_icon"><img src="__PICTURE__/login.png" /></div>
				<fieldset>
					<ul>
						<li class="frame_style">
                <input name="uname" type="text"  id="username"/>
                <i>用户名</i>
            </li>
						<li class="frame_style">
               
                <input name="pwd" type="password"   id="pad"/>
                <i>密码</i>
            </li>
					</ul>
					<div class="clearfix">
						<label class="inline">
							<input type="checkbox" class="ace">
							<span class="lbl">自动登录</span>
						</label>
						<button type="button" class="width-35 pull-right btn btn-sm btn-primary" id="log">
							<i class="icon-key"></i>
							登录
						</button>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
	
</body>
</html>
<script type="text/javascript">
  $(function(){

        $('#log').click(function () {
          var uname = $('#username').val();
        
          var pwd = $('#pad').val();
         
           $.post("{:url('Administor/dologin')}",{uname:uname,pwd:pwd},function (data) {
           
            alert(data);
            var data = JSON.parse(data);
            if(data == 0){
              $('#write').html('密码不正确');
            }else if(data == 2){
              $('#write').html('用户名不正确');
            }else if(data == 1) {
             window.location.href="{:url('Index/index')}"; 
            }
           },'json');
           return false;
        })
         
        //用户名取得焦点
        $("#username").focus(function(){
          $('#write').html("");
        $("#username").css("background-color","#FFFFCC");
      });
        //密码框得到焦点
        $("#pad").focus(function(){
          $('#write').html("");
        $("#pad").css("background-color","#FFFFCC");
      });
        //用户名失去焦点
        $("#username").blur(function(){
          
          if($("#username").val() == "") {

            $('#write').html("用户名不能为空");
            }
            $("#username").css("background-color","");
        })

          //密码失去焦点
        $("#pad").blur(function(){
          if($("#pad").val() == "") {
            $('#write').html("还没有输入密码");
          }
          $("#pad").css("background-color","");
        })
      });
   
 
</script>


