<!DOCTYPE html>
<html>
<head>
	<title>首页头</title>
    {include file="common/indexcss"}
</head>
<body>
<!--Begin Header Begin-->
<div class="soubg">
    <div class="sou" >
        {$Think.session.id}
        <span class="fr" >
            {if empty(session('id'))}
                你好，请
                <a href="{:url('User/login')}">登录</a>&nbsp; 
                <a href="{:url('User/regist')}" style="color:#ff4e00;">免费注册</a>
            {else}
            {if session('type') ==0}
                <a href="{:url('User/memberUser')}">用户个人中心</a>
            {else}
             <a href="{:url('seller/selInfo')}">商家中心</a>
            {/if}
            {/if}
             <div class="ss_list">
                    <a href="{:url('Lottery/index')}">抽奖赢礼品</a>
             </div>
            <div class="ss_list">
                <a href="#">收藏夹</a>
                <div class="ss_list_bg">
                    <div class="ss_list_c">
                        <ul>
                            <li><a href="#">收藏的商店</a></li>
                            <li><a href="#">收藏的物品</a></li>
                        </ul>
                    </div>
                </div>     
            </div>
        </span>
    </div>
</div>

{include file='common/nav' /}

</body>
</html>
