<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{include file='public/css' /}
{include file='public/js' /}  
<title>UserInfo</title>
</head>

<body>


<div class="m_top_bg" style="height: 80px;">
    <!-- <div class="top" > -->
        <div class="m_logo" style="margin-top: -0px;height: 80px;padding-left: 35px;"><img height="80px" width="70px" src="__PICTURE__logo.jpg"></div>
        <h1 style="text-align: center;line-height: 65px;">个人中心</h1>
        <div style="float: right;margin-top: -60px;">[<a href="{:url('index/index')}">返回首页</a>]&ensp;&ensp;[<a href="{:url('user/exit')}">退出登录</a>]</div>    

</div>
</body>
</html>