<!DOCTYPE html>
<html>
<head>
	<title>nav.html</title>
</head>
<body>
<div class="top">
    <div class="logo" style="margin-top: -20px;height: 140px;"><a href="Index.html" ><img width='140px' height ='140px;' src="__PICTURE__logo.jpg" /></a></div>
    <div class="search">
    	<form>
        	<input type="text" value="" class="s_ipt" />
            <input type="submit" value="搜索" class="s_btn" />
        </form>                      
        <span class="fl"><a href="#">咖啡</a><a href="#">iphone 6S</a></span>
    </div>
    <div class="i_car" style="text-align: center;">
    	<a href="{:url('car/car')}">购物车</a>
    </div>
</div>
<div class="menu_bg">
  <div class="menu">
      <div class="nav" style="width: 90px;">
          <li style="font-size: 24px;"><a href="{:url('index/index')}">&ensp;首&ensp;&ensp;页</a></li> 
       </div>
    </div>
</div>
</body>
</html>