<!doctype html>
<html>
<head>
{include file='public/css' /}
{include file='public/js' /}
</head>

<body>
<div class="loginwrapper">
  <div class="wrap pr">
    <div class="loginbox">
      <h1 class="hd">用户注册</h1>
      <div class="tc" style="margin-top:-10px;"><img src="images/regtxt.png"></div>


      <form action="{:url('User/regist')}"  method="post" id="fm">

      <div class="boxbd mt20">
        <label class="label">
          <input type="text" name="name" id='name' value="" class="loginipt key Nickname">
          <span class="text">请输入昵称</span>
        </label>


        <label class="label">
          <input type="text" name="email" id='email' value="" class="loginipt key user">
          <span class="text">请输入您的邮箱</span>
        </label>

        <label class="label">
          <input type="text" name="phone" id='phone' value="" class="loginipt key user">
          <span class="text">请输入您的手机号</span>
        </label>

        
        <label class="label">
          <input type="password" name="pwd" id='pwd' value="" class="loginipt key pwd">
          <span class="text">请输入您的密码</span>
        </label>
        <label class="label">
          <input type="password" name="rpwd" id='rpwd' value="" class="loginipt key pwd">
          <span class="text">请再次输入您的密码</span>
        </label>
        <button type="submit" id='regist' value="" class="button btn-reg" >立即注册</button>




        </form>



        <p class="mt20 tc">注册则表示同意<a href="#" class="o">《会员条款》</a></p>
        <div class="ohter"><span class="ohtertxt">或</span></div>
        <div class="Prompt" style="padding:0 0 10px">使用以上社交网络帐号登录</div>
      </div> 
      <div class="tc">
        <a href="#" target="_blank" class="ico qq">QQ</a>
      </div>
      <p class="boxbd tr">已有帐号？<a href="login.html" class="o">注册</a></p>
    </div>    
  </div>
</div>
</html>

<script type="text/javascript">
$(function ()
  {
    var status = true;
     var name = $('#name').blur(function()
        {
          len = (name.val()).length;
          if(len < 3 || $len > 10)
          {
            status = false;
            alert('长度不能小于3或大于10');
          }
          status = true;
          return  name.val();
        });

    var email = $('#email').blur(function()
      {
        var ev = email.val();
        if(!ev.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/))
        {
          status = false;
          alert("格式不正确！请重新输入"); 
        }
        status = true;
      });

     var pwd = $('#pwd').blur(function()
      {
          len = (pwd.val()).length;
          if(len < 6 || ($.isNumeric($len)))
          {
            status = false;
            alert('密码长度不能小于6且不能是纯数字!');
          }
          status = true;
      });


     var rpwd = $('#rpwd').blur(function()
      {
        if(pwd.val() != rpwd.val())
        {
          status = false;
          alert('两次密码不一致');
        }
        status = true;
      });

     var regist = $('#regist').click(function()
      {
        $.post("{:url('User/selectUser')}" , {name:123}, success);
          function success(data)
          {
            var res = json_decode('data')['status'];
            if(res == 1)
            {
              alert('注册成功,去登录吧!');
            }
          }
        });
    
  });
</script>