<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 {include file="public/css"}
 {include file="public/js"}
<title>order.html</title>
</head>

<body>
<div class="margin clearfix">
    <div class="amounts_style">
        <div class="transaction_Money clearfix">
          <div class="Money"><span >成交总额：1.2234.3456.00元</span><p>最新统计时间:2016-8-2</p></div>
           <div class="Money"><span ><em>￥</em>3456.00元</span><p>当天成交额</p></div>
           <div class="l_f Statistics_btn"> 
           <a href="javascript:ovid()" title="当月统计" onclick="Statistics_btn()" class="btn  btn-info btn-sm  no-radius"><i class="bigger fa fa-bar-chart "></i><h5 class="margin-top">当月统计</h5></a>
         </div>
        </div>
        <div class="border clearfix">
          <span class="l_f">
          <a href="javascript:ovid()" class="btn btn-info">全部订单</a>
          <a href="javascript:ovid()" class="btn btn-danger">当天订单</a>
            <a href="javascript:ovid()" class="btn btn-danger">当月订单</a>
           </span>
           <span class="r_f">共：<b>2334</b>笔</span>
        </div>
        <div class="Record_list">
            <table class="table table-striped table-bordered table-hover" id="sample-table">
                <thead>
            		<tr>
                        <th width="100px">序号</th> 
                        <th width="200px">订单编号</th>
                        <th width="180px">成交时间</th>
                        <th width="120px">成交金额(元)</th>
                        <th width="180px">状态</th>                  
            		</tr>
        		</thead>
                <tbody> 
                    <tr>
                        <td>34</td>
                        <td>HD2016061200456787</td>
                        <td>2016-6-12</td>
                        <td>234</td>
                        <td>成功</td>         
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>HD2016061200456787</td>
                        <td>2016-6-12</td>
                        <td>234</td>
                        <td>成功</td> 
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
</div>

</body>
</html>

