<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{include file="common/mcss" /}
<script type="text/javascript" src="__JS__jquery-1.11.3.js"></script>
<script type="text/javascript" src="__JS__area.js"></script>
 <link rel="stylesheet" type="text/css" href="__CSS__city.css">
 <link rel="stylesheet" type="text/css" href="__BOOT__"> 
<title>地址</title>
</head>
<body>  
{include file="common/mpheader" /}
  <div class="m_content" style="background-color:;">
  {include file="common/mpleft" /}
		<div class="m_right" style="background-color:;">
            <p>{$Think.session.id}</p>
            <div class="mem_tit">收货地址</div>
            <div class="mem_tit">
            	<a href="#"><img src="__IMAGE__add_ad.gif" /></a>
            </div>
   
          <form action="" method="post" enctype="multipart/form-data">
            <table border="0" class="add_tab" style="width:930px;"  cellspacing="0" cellpadding="0">
              <tr>
                <td width="135" align="right">配送地区</td>
                <td colspan="3" style="font-family:'宋体';">
                     <div class="info">
                        <div>
                            <select id="s_province" name="s_province"></select>     
                            <select id="s_city" name="s_city" ></select>  
                            <select id="s_county" name="s_county"></select>
                            <script type="text/javascript">_init_area();</script>    
                        </div>
                        <div id="show"></div>
                    </div>
                </td>
              </tr>
              <tr>
                <td align="right">收货人姓名</td>
                <td style="font-family:'宋体';"><input type="text"  class="add_ipt" name="consignee" />（必填）<span id="name"></span></td>
                <td align="right">电子邮箱</td>
                <td style="font-family:'宋体';"><input type="text"  class="add_ipt" name="cmeail" />（必填）</td>
              </tr>
              <tr>
                <td align="right">详细地址</td>
                <td style="font-family:'宋体';"><input type="text"  class="add_ipt" name="deaddr" />（必填）</td>
                <td align="right">邮政编码</td>
                <td style="font-family:'宋体';"><input type="text"  class="add_ipt" name=code /></td>
              </tr>
              <tr>
                <td align="right">手机</td>
                <td style="font-family:'宋体';"><input type="text"  class="add_ipt" name="cphone" />（必填）</td>
                <td align="right">标志建筑</td>
                <td style="font-family:'宋体';"><input type="text"  class="add_ipt" name="cbulid"/></td>
              </tr>
            </table>
           	<p align="right">
            <!-- <button id="but">确认添加</button> -->
             <input type='button' class="btn btn-danger" id="but" style="float: left;" value="确认提交"/>
            </p> 
         </form>
   {foreach $res as $vo}
         <div class="address">
              <div class="a_close"><img src="__IMAGE__a_close.png" /></div>
              
              <table border="0" class="add_t" align="center" style="width:98%; margin:10px auto; background-color:;" cellspacing="0" cellpadding="0">
                  <tr>
                    <td colspan="2" style="font-size:14px; color:#ff4e00;">地址</td>
                  </tr>
                  <tr>
                    <td align="right" width="100">收货人姓名：</td>
                    <td>{$vo.addr_name}</td>
                  </tr>
                  <tr>
                    <td align="right">配送区域：</td>
                    <td>{$vo.addr_addr}</td>
                  </tr>
                  <tr>
                    <td align="right">详细地址：</td>
                    <td>{$vo.addr_detail}</td>
                  </tr>
                  <tr>
                    <td align="right">电话：</td>
                    <td>{$vo.addr_phone}</td>
                  </tr>
                  <tr>
                    <td align="right">电子邮箱：</td>
                    <td>{$vo.addr_email}</td>
                  </tr>
                  <tr>
                    <td align="right">标志建筑：</td>
                    <td>{$vo.addr_bulid}</td>
                  </tr>
                </table>
                <p align="right">
                <button id="mo" value="{$vo.id}">{if $vo.is_default == 1}默认{else}设为默认{/if}</button>
                <button id="edit">编辑</button>
                </p>
     {/foreach}
            </div>
        </div>
    </div>
	<!--End 用户中心 End--> 
  {include file="common/mpfooter"}
</body>
</html>
<script type="text/javascript">
      $(function (){
          $('#but').click(function () {
          var province = $('#s_province').val();
          var city = $('#s_city').val()
          var county = $('#s_county').val();
          var consignee = $("input[name='consignee']").val();
          var cmeail = $("input[name='cemail']").val();
          var cphone = $("input[name='cphone']").val();
          var deaddr = $("input[name='deaddr']").val();
          var cbuild = $("input[name='cbulid']").val();

          //alert(deaddr);
              $.post('aasd',{province:province,city:city,county:county,consignee:consignee,cmeail:cemail,cphone:cphone,deaddr:deaddr,cbuild:cbulid},success);
            //$.post('addAddr',{city:city},success);
            function success (data)
            { 
              console.log(data);
              var data = JSON.parse(data);
              if(data == 1) {
                alert('添加成功');
              }else {
                alert('添加失败');
              }
            }
              return false;
          })
        });
     //是否是默认的地址
  // $('#mo').click(function (){
  //      var name =  $('#mo').val();
  //      //alert(name);
  //      $.post('addrMo',{name:name},success)
  //      function success(data)
  //      {
  //       var data = JSON.parse(data);
  //      }

  //     })

  //     });   
    </script>

