<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="__CSS__style.css" />   
    <script type="text/javascript" src="__JS__jquery-1.11.1.min_044d0927.js"></script>
    <script type="text/javascript" src="__JS__jquery.bxslider_e88acd1b.js"></script>
    <script type="text/javascript" src="__JS__jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__JS__jquery-1.11.3.js"></script>
    <script type="text/javascript" src="__JS__menu.js"></script>      
	  <script type="text/javascript" src="__JS__select.js"></script>
    <script type="text/javascript" src="__JS__lrscroll.js"></script>
    <script type="text/javascript" src="__JS__iban.js"></script>
    <script type="text/javascript" src="__JS__fban.js"></script>
    <script type="text/javascript" src="__JS__f_ban.js"></script>
    <script type="text/javascript" src="__JS__mban.js"></script>
    <script type="text/javascript" src="__JS__bban.js"></script>
    <script type="text/javascript" src="__JS__hban.js"></script>
    <script type="text/javascript" src="__JS__tban.js"></script>
	<script type="text/javascript" src="__JS__lrscroll_1.js"></script>
    
    
<title>登录页面</title>
</head>
<body>  
<!--Begin Header Begin-->


<div class="log_bg">	
    <div class="top">
        <div class="logo"><a href="Index.html"><img src="__IMAGE__logo.png" /></a></div>
    </div>
	<div class="login" style="height: 600px;">
    	<div class="log_img"><img src="__IMAGE__l_img.png" width="611" height="425" /></div>
		<div class="log_c" style="height: 600px;">
        	<form action="{url:('User/dologin')}" method="post" enctype="multipart/form-data">
            <table border="0" style="width:370px; font-size:14px; margin-top:30px;" cellspacing="0" cellpadding="0">
              <tr height="50" valign="top">
              	<td width="55">&nbsp;</td>
                <td>
                	<span class="fl" style="font-size:24px;">登录</span>
                    <span class="fr">还没有商城账号，<a href="Regist.html" style="color:#ff4e00;">立即注册</a></span>
                </td>
              </tr>
              <tr height="70">
                <td>用户名</td>
                <td><input type="text" name="name" class="l_user" id="username" /></td>
              </tr>
              <tr height="10">
                <td></td>
                <td><div id="uerror" style="color:red;"></div></td>
              </tr>
              <tr height="70">
                <td>密&nbsp; &nbsp; 码</td>
                <td><input type="password" id="pad" class="l_pwd" name="pwd" /></td>
              </tr>
               <tr height="20">
                <td></td>
                <td><div id="perror" style="color:red;"></div></td>
              </tr>
              <tr>
              	<td>&nbsp;</td>
                <td style="font-size:12px; padding-top:20px;">
                	<span style="font-family:'宋体';" class="fl">
                    	<label class="r_rad"><input type="checkbox" /></label><label class="r_txt">请保存我这次的登录信息</label>
                    </span>
                    <span class="fr"><a href="#" style="color:#ff4e00;">忘记密码</a></span>
                </td>
              </tr>
              <tr>
                <td style="width: 100px;">
                  
                </td>
                <td>
                 <!-- <div>
                    <ul style="list-style-type: none;background-color: red;">
                      <li style="float: right;width:90px;height: 68px;background-color: pink;">微信</li>
                      <li style="float: right;width:90px;height: 68px;background-color: pink;"><img src="__IMAGE__weixin.png">
                      微信</li>
                      <li style="float: right;width:90px;height: 68px;background-color: pink;">微信</li>
                      
                    </ul>
                  </div> -->
                </td>
              </tr>
              <tr height="60">
              	<td>&nbsp;</td>
                <td><input type="submit" id="log" value="登录" style="width:300px;height:30px;background-color: pink;border:none;" /></td>

              </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<!--End Login End--> 
<!--Begin Footer Begin-->
<div class="btmbg">
    <div class="btm">
        备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018  All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
        <img src="__IMAGE__b_1.gif" width="98" height="33" /><img src="__IMAGE__b_2.gif" width="98" height="33" /><img src="__IMAGE__b_3.gif" width="98" height="33" /><img src="__IMAGE__b_4.gif" width="98" height="33" /><img src="__IMAGE__b_5.gif" width="98" height="33" /><img src="__IMAGE__b_6.gif" width="98" height="33" />
    </div>    	
</div>
<!--End Footer End -->    

</body>
</html>

<script type="text/javascript">
  $(function(){
        $('#log').click(function () {
          var name = $('#username').val();
          //alert(name);
          var pwd = $('#pad').val();
          //alert(pwd);
           $.post("{:url('User/dologin')}",{name:name,pwd:pwd},function (data) {
            var data = JSON.parse(data);
            if(data.status == 0){
              $('#perror').html(data.msg);
            }else if(data.status == 2){
              $('#uerror').html(data.msg);
            }else if(data.status == 1) {
              //header(refresh:3,url={:url('Index/index')});
            }
           },'json');
           return false;
        })
         
        //用户名取得焦点
        $("#username").focus(function(){
          $('#uerror').html("");
        $("#username").css("background-color","#FFFFCC");
      });
        //密码框得到焦点
        $("#pad").focus(function(){
          $('#perror').html("");
        $("#pad").css("background-color","#FFFFCC");
      });
        //用户名失去焦点
        $("#username").blur(function(){
          
          if($("#username").val() == "") {

            $('#uerror').html("用户名不能为空");
            }
            /*$.post("{url('User/login')}",{name:name},function (data) {
             alert(data);
             },'json');*/
            /*if($("#usernaem").val() !== "" ) {
               $('#uerror').html("用户名不存在");
            }*/
            $("#username").css("background-color","");
        })

          //密码失去焦点
        $("#pad").blur(function(){
          if($("#pad").val() == "") {
            $('#perror').html("还没有输入密码");
          }
          $("#pad").css("background-color","");
        })
   /*    $.post("{url('User/login')}",{name:name},function (data) {
      alert(data);
    },'json');*/


  
      });
   
 
</script>
