<!doctype html>
<html>
<head>
<link rel='stylesheet' href='__CSS__Validstyle.css' type='text/css' />
<script src='__JS__jquery-1.9.1.min.js'></script>
<script src='__JS__Validform_v5.3.2_min.js'></script>
</head>
<script type="text/javascript">
$(function()
{
  $("body").css("background","url(__IMAGE__regist.jpg)");
});
</script>
<body>
    <div style="text-align: center;" >
      <h1 class="hd" text-align='center'>用户注册</h1><a href="{:url('User/login')}">用户登录</a>
      <div class="tc" ><img src="__IMAGE__regtxt.png"></div>

      <form  id='fm' class="registerform" action="">
        <table width="40%" style="margin-left: 348px;margin-top: 30px;">  
        <tr id='reg' class="form-group" style='margin-bottom:20px;'>
            <td class="need" style="width:10px;">*</td>
            <td style="width:90px;">注册类型：</td>
            <td style="width:205px;">
               <label id='seller' class="label">
                <select name="style" id='select1' class="loginipt key Nickname" style="width: 175px;">
                  <option>卖家</option>
                  <option selected = "selected">买家</option>
                </select>
               </label>
            </td>
            <td><div class="Validform_checktip">请输入您要注册的账户类型</div></td>
        </tr>

        <tr class="form-group" style='margin-bottom:20px;'>
            <td class="need" style="width:10px;">*</td>
            <td style="width:90px;">用&ensp;户&ensp;名:</td>
            <td style="width:205px;">
               <input type="text" value="" name="name" class="inputxt"  datatype="*3-20" nullmsg="请输入中文名！" errormsg="中文名为2~4个中文字符！" />
            </td>
            <td><div id='testname' style="color: red;" class="Validform_checktip"></div></td>
        </tr>

        <tr>
            <td class="need" >*</td>
            <td >密&ensp;&ensp;&ensp;&ensp;码：</td>
            <td >
            <input type="password" value="" name="pwd" class="inputxt"   /></td>
            <td><div class="Validform_checktip">3~18个字符</div></td>
        </tr>
         
        <tr>
          <td class="need" >*</td>
          <td >确认密码：</td>
          <td style="width:205px;">
          <input type="password" value=""  recheck='rpwd' name="rpwd" class="inputxt" datatype="s6-18" nullmsg="请确认密码！" errormsg="两次密码不一致！" /></td>
          <td><div class="Validform_checktip">两次密码不一致</div></td>
        </tr>

        <tr>
          <td class="need" >*</td>
          <td >手&ensp;机&ensp;号：</td>
          <td style="width:205px;">
          <input type="text" value=""  name="phone" class="inputxt" datatype="m" nullmsg="请输入手机号！" errormsg="手机格式不正确1**-****-****！" /></td>
          <td><div class="Validform_checktip">手机号格式不正确</div></td>
        </tr>

        <tr>
          <td class="need" >*</td>
          <td >邮&ensp;&ensp;&ensp;&ensp;箱：</td>
          <td style="width:205px;">
            <input type="text" value=""  name="email" class="inputxt" datatype="e" nullmsg="请输入邮箱！" errormsg="邮箱格式不正确！***@***.com" /></td>
          <td><div class="Validform_checktEmail sendEmail"  style="color:red;"></div></td>
        </tr>
        <tr>
          <td class="need" >*</td>
          <td >邮箱验证码:</td>
          <td style="width:205px;">
            <input type="text" value=""  name="emailCode" class="inputxt" datatype="e" nullmsg="请输入邮箱！" errormsg="邮箱格式不正确！***@***.com" /></td>
          <td><div class="Validform_checkEmailCode checkCode" style="color: red;"></div></td>
        </tr>

      <tr>
          <td class="need" >*</td>
          <td >验&ensp;证&ensp;码：</td>
          <td style="width:205px;">
            <input type="text" value=""  name="imageCode" class="inputxt" datatype="e" nullmsg="请输入验证码！" errormsg="验证码不正确!" />
          </td>
          <td><img onclick="this.src=this.src+'?abc='+Math.random();" src="{:captcha_src()}" alt="captcha"  style="" /><label class="imageCode" style="width: 100px;color: red; float: left;"></label></td>
      </tr>
      <tr>
          <td class="need"></td>
          <td></td>
          <td colspan="2" >
              <input type="button" id='regist' value="提 交" />
          </td>
      </tr>
    </table>
  </form>

      </div>    
    </div>   
</html>
<script src='__JS__jquery-1.9.1.min.js'></script>
<script type="text/javascript">
$('#select1').change(function()
  {
    // $("#seller2").remove();
    if($('#select1').val() == '卖家')
    {
      /*$('#seller').after("<tr><td><select style='width:170px;height:34px;background:pink;color:white;border:1px solid #161616'  id='seller2'><option>123</option><option>123</option></select></td></tr>");*/
    $('#reg').after("<tr id='shop'  class='form-group' style='margin-bottom:20px; '><td class='need' style='width:10px;'>*</td><td style='width:90px;'>店铺类型：</td><td style='width:205px;'><select style='width:173px;height:34px;background:#FFF;border:1px solid #A9A9A9'  id='seller2'>{foreach $res as $val}<option>{$val['style']}</option>{/foreach}</select></td></tr><tr id='shops'  class='form-group' style='margin-bottom:20px; '><td class='need' style='width:10px;'>*</td><td style='width:90px;'>简单描述：</td><td style='width:235px;'><textarea style='width:170px;height:60px;'></textarea></td></tr>"); 
    }
    if($('#select1').val() == '买家')
    {
       $('#shop').remove();
       $('#shops').remove();
    }
  });

$(function ()
  {
   var status = true;
   /*验证用户名*/
   $('input[name=name]').blur(function()
    {
      var style = $('#select1').val();
      var name =  $('input[name=name]').val();
      len = name.length;
      if( (!name && typeof(name)!="undefined" && name!=0) || len < 3 || len > 10)
      {
        alert('长度不能小于3或大于10或者为空');
      }
      else
      {
        var postUrl = null;
        if(style == '买家')
        {
            postUrl = "{:url('User/selectUser')}";
        }
        else
        {
            postUrl = "{:url('User/selectUser')}";
        }
        $.post("{:url('User/selectUser')}" , {'name' : name , 'style' : style } , function(data)
        {
            if(data == 0)
            {
              $('#testname').html('用户已存在!');
            }
            else if(data == 1)
            {
              $('#testname').html('用户可用!');
            }
        })
      }
    });

   /*验证邮箱*/
   $('input[name=email]').blur(function()
      {  
        var email = $('input[name=email]').val();
        if(email)
        {
           if(!email.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/))
            {
              status = false;
              //alert("格式不正确！请重新输入");
              $('.Validform_checktEmail').html('格式不正确！请重新输入');
              return false;
            }
            else
            {
              $('.Validform_checktEmail').html('');
            }
            $.post("{:url('Index/getEmailCode')}" , {'email' : email} , function(data)
              {
                if(data)
                {
                  $('.sendEmail').html('邮件已发送!');
                }
                else
                {
                  $('.sendEmail').html('邮件发送失败,请重新填写!');
                }
                console.log(data);
               
              },'json');
        }
        else
        {
          //alert('邮箱不能为空!');
          $('.Validform_checktEmail').html('邮箱不能为空!');
          return false;
        }
      });

   /*验证邮箱验证码*/
   $('input[name=emailCode]').blur(function(data)
   {
      var code = $('input[name=emailCode]').val();
     $.post("{:url('Index/checkEmailCode')}" , {'code' : code} , function(data)
      {
        if(data == 0)
        {
          $('.checkCode').text('验证码不正确哦!');
        }
        else{
          $('.checkCode').text('验证成功!');
        }   
          console.log(data);
      }, "json");
   });


   /*验证密码*/
   $('input[name=pwd]').blur(function()
    {
      var pwd =  $('input[name=pwd]').val();
      var len = pwd.length;
      if( pwd )
      {
        if(len < 3 && !isNaN(pwd))
        {
          status = false;
          alert('长度不能小于6或者为纯数字!');
        }      
      }
      else
      {
        status = false;
        alert('密码不能为空!');
        return false;
      }
      status = true;
    });

   /*再次验证密码*/
   $('input[name=rpwd]').blur(function()
    {
      var pwd  = $('input[name=pwd]').val();
      var rpwd = $('input[name=rpwd]').val();
      if(rpwd)
      {
        if((pwd != rpwd))
        {
          status = false;
          alert('两次密码不一致');
        }
        status = true;
      }
      else
      {
        alert('两次密码不一致!');
      }
    });

   /*验证验证码*/
   $('input[name=imageCode]').blur(function()
    {

      var imageCode = $('input[name=imageCode]').val();
      $.post("{:url('Index/checkImageCode')}", {'imageCode' : imageCode} , function(data)
        {
          alert(data);
          if(data == 1)
          {
            $('.imageCode').html('验证通过');
          }else{
            $('.imageCode').html('验证码不正确');
          }

        } , "json");
    });
   

   /*注册*/
   $('#regist').click(function()
    {
      var style = $('#select1').val();
      var category = $('#seller2').val();
      alert(category);
      var name = $('input[name=name]').val();
      var email = $('input[name=email]').val();
      var pnumber = $('input[name=phone]').val();
      var pwd = $('input[name=pwd]').val();
      var rpwd = $('input[name=rpwd]').val();
      var description = $('textarea').val();
      if(status && name && email && pnumber && pwd && rpwd && (pwd==rpwd))
      {
        console.log('信息正确哦，插入进去吧!');
        var urlpost = null;
        if(style == '买家')
        {
          urlpost = "{:url('User/addUserInfo')}";
        }
        else if(style == '卖家')
        {
          urlpost = "{:url('Seller/addSellerInfo')}";
        }

        /*注册的ajax请求*/
        $.post(urlpost, {'style' : category , 'uname' : name , 'email' : email , 'pnumber' : pnumber , 'pwd' : pwd , 'description' :  description } ,
         function(data){
          console.log(data);
            if(data == 0)
            {
              alert('注册失败,再去试试吧!');
            }
            else
            {
              alert('注册成功,去登录吧!');
            }
         }, "json");
      }
      else
      {
        alert('不正确啦,先完成信息');
      }
    });

   
  });


</script>