<!doctype html>
<html>
<head>
<link rel='stylesheet' href='__CSS__Validstyle.css' type='text/css' />
<script src='__JS__jquery-1.9.1.min.js'></script>
<script src='__JS__Validform_v5.3.2_min.js'></script>
</head>
<body>
    <div style="text-align: center;" >
      <h1 class="hd" text-align='center'>用户注册</h1><a href="{:url('User/login')}">用户登录</a>
      <div class="tc" ><img src="__IMAGE__regtxt.png"></div>

      <form  id='fm' class="registerform" action="">
        <table width="50%" style="margin-left: 290px;border: 1px solid black;">  
        <tr id='reg' class="form-group" style='margin-bottom:20px;'>
            <td class="need" style="width:10px;">*</td>
            <td style="width:90px;">注册类型：</td>
            <td style="width:205px;">
               <label id='seller' class="label">
                <select name="style" id='select1' class="loginipt key Nickname" style="width: 175px;">
                  <option>卖家</option>
                  <option selected = "selected">买家</option>
                </select>
               </label>
            </td>
            <td><div class="Validform_checktip">请输入您要注册的账户类型</div></td>
        </tr>

        <tr class="form-group" style='margin-bottom:20px;'>
            <td class="need" style="width:10px;">*</td>
            <td style="width:90px;">用&ensp;户&ensp;名:</td>
            <td style="width:205px;">
               <input type="text" value="" name="name" class="inputxt" datatype="*3-20" nullmsg="请输入中文名！" errormsg="中文名为2~4个中文字符！" />
            </td>
            <td><div class="Validform_checktip">请输入您的用户名3~20</div></td>
        </tr>

        <tr>
            <td class="need" >*</td>
            <td >密&ensp;&ensp;&ensp;&ensp;码：</td>
            <td >
            <input type="password" value="" name="pwd" class="inputxt" datatype="s6-18" nullmsg="请输入密码！" errormsg="密码为6~18个字符！" /></td>
            <td><div class="Validform_checktip">6~18个字符</div></td>
        </tr>
         
        <tr>
          <td class="need" >*</td>
          <td >确认密码：</td>
          <td style="width:205px;">
          <input type="password" value=""  recheck='rpwd' name="rpwd" class="inputxt" datatype="s6-18" nullmsg="请确认密码！" errormsg="两次密码不一致！" /></td>
          <td><div class="Validform_checktip">两次密码不一致</div></td>
        </tr>

        <tr>
          <td class="need" >*</td>
          <td >手&ensp;机&ensp;号：</td>
          <td style="width:205px;">
          <input type="text" value=""  name="phone" class="inputxt" datatype="m" nullmsg="请输入手机号！" errormsg="手机格式不正确1**-****-****！" /></td>
          <td><div class="Validform_checktip">手机号格式不正确</div></td>
        </tr>

        <tr>
          <td class="need" >*</td>
          <td >邮&ensp;&ensp;&ensp;&ensp;箱：</td>
          <td style="width:205px;">
            <input type="text" value=""  name="email" class="inputxt" datatype="e" nullmsg="请输入邮箱！" errormsg="邮箱格式不正确！***@***.com" /></td>
          <td><div class="Validform_checktip">邮箱格式不正确</div></td>
      </tr>
      <tr>
          <td class="need"></td>
          <td></td>
          <td colspan="2" >
              <input type="button" id='regist' value="提 交" />
          </td>
      </tr>
    </table>
  </form>

      <!-- <form id='fm' action=""  method="post" >
        <div class="boxbd mt20" style="border: 1px solid red;">
         <label id='seller' class="label">
            <select name="style" class="loginipt key Nickname" style="width: 110px;">
              <option>卖家</option>
              <option selected = "selected">买家</option>
            </select>
          </label>
      
          <label class="label">
            <input placeholder="请输入昵称" type="text" name="name" class="loginipt key Nickname">
          </label>
      
          <label class="label">
            <input  placeholder="请输入您的邮箱" type="text" name="email" class="loginipt key user">
          </label>
      
           <label class="label">
            <input placeholder="请输入您的邮箱验证码" style="color:red;" type="text" name="emailCode" class="loginipt key user">
          </label>
      
          <label class="label">
            <input placeholder="请输入您的手机号" type="text" name="phone" class="loginipt key user">
          </label>
      
          <label class="label">
            <input placeholder="请输入您的密码"" type="password" name="pwd" class="loginipt key pwd">
          </label>
          <label class="label">
            <input placeholder="请再次输入您的密码" type="password" name="rpwd" class="loginipt key pwd">
          </label>
      </form> -->
         <!-- <input type="button" id='regist' class="button btn-reg" value='立即注册' /> -->

      </div>    
    </div>   
</html>

<script type="text/javascript">
$('#select1').change(function()
  {
    // $("#seller2").remove();
    if($('#select1').val() == '卖家')
    {
      /*$('#seller').after("<tr><td><select style='width:170px;height:34px;background:pink;color:white;border:1px solid #161616'  id='seller2'><option>123</option><option>123</option></select></td></tr>");*/
    $('#reg').after("<tr id='shop'  class='form-group' style='margin-bottom:20px; '><td class='need' style='width:10px;'>*</td><td style='width:90px;'>店铺类型：</td><td style='width:205px;'><select style='width:170px;height:34px;background:pink;color:white;border:1px solid #161616'  id='seller2'>{foreach $res as $val}<option>{$val['style']}</option>{/foreach}</select></td></tr>"); 
    }
  });

$(function ()
  {
   var status = true;
   /*验证用户名*/
   $('input[name=name]').blur(function()
    {
      var name =  $('input[name=name]').val();
      len = name.length;
      if( (!name && typeof(name)!="undefined" && name!=0) || len < 3 || $len > 10)
      {
        status = false;
        alert('长度不能小于3或大于10或者为空');
      }
      status = true;
    });

   /*验证邮箱*/
   $('input[name=email]').blur(function()
      {  
        var email = $('input[name=email]').val();
        if(email)
        {
           if(!email.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/))
            {
              status = false;
              alert("格式不正确！请重新输入");
              return false;
            }
            status = true;
            /*$.post("{:url('Index/getEmailCode')}" , {'email' : email} , function(data)
              {
                $data = JSON.parse(data);
                alert(data);
                if($('input[name=emailCode]') != data.code)
                {
                  alert($('input[name=emailCode]'));
                    status = false;
                    alert('验证码不正确');
                    return false;
                }

              },'json');*/
        }
        else
        {
          alert('邮箱不能为空!');
          return false;
        }
      });


   /*验证密码*/
   $('input[name=pwd]').blur(function()
    {
      var pwd =  $('input[name=pwd]').val();
      var len = pwd.length;
      if( pwd )
      {
        if(len < 3 && !isNaN(pwd))
        {
          status = false;
          alert('长度不能小于6或者为纯数字!');
        }      
      }
      else
      {
        status = false;
        alert('密码不能为空!');
        return false;
      }
      status = true;
    });

   /*再次验证密码*/
   $('input[name=rpwd]').blur(function()
    {
      var pwd  = $('input[name=pwd]').val();
      var rpwd = $('input[name=rpwd]').val();
      if(rpwd)
      {
        if((pwd != rpwd))
        {
          status = false;
          alert('两次密码不一致');
        }
        status = true;
      }
      else
      {
        alert('两次密码不一致!');
      }
    });

   /*注册*/
   $('#regist').click(function()
    {
      var style = $('#select1').val();
      var category = $('#seller2').val();
    alert(category);
      var name = $('input[name=name]').val();
      var email = $('input[name=email]').val();
      var pnumber = $('input[name=phone]').val();
      var pwd = $('input[name=pwd]').val();
      var rpwd = $('input[name=rpwd]').val();
      if(status && name && email && pnumber && pwd && rpwd && (pwd==rpwd))
      {
        console.log('信息正确哦，插入进去吧!');
        var urlpost = null;
        if(style == '买家')
        {
          urlpost = "{:url('User/addUserInfo')}";
        }
        else if(style == '卖家')
        {
          urlpost = "{:url('Seller/addSellerInfo')}";
        }

        /*注册的ajax请求*/
        $.post(urlpost, {'style' : category , 'uname' : name , 'email' : email , 'pnumber' : pnumber , 'pwd' : pwd} ,
         function(data){
          console.log(data);
            if(data == 0)
            {
              alert('注册失败,再去试试吧!');
            }
            else
            {
              alert('注册成功,去登录吧!');
            }
         }, "json");
      }
      else
      {
        alert('不正确啦,先完成信息');
      }
    });

   
  });


</script>