<!doctype html>
<html>
<head>
{include file='public/css' /}
{include file='public/js' /}
</head>

<body>
<div class="loginwrapper">
  <div class="wrap pr">
    <div class="loginbox">
      <h1 class="hd">用户注册</h1>
      <div class="tc" style="margin-top:-30px;"><img src="__IMAGE__regtxt.png"></div>

      <form id='fm' action=""  method="post" >

        <div class="boxbd mt20">
         <label id='seller' class="label">
            <select name="style" class="loginipt key Nickname" style="width: 110px;">
              <option>卖家</option>
              <option selected = "selected">买家</option>
            </select>
          </label>

          <label class="label">
            <input placeholder="请输入昵称" type="text" name="name" class="loginipt key Nickname">
          </label>

          <label class="label">
            <input  placeholder="请输入您的邮箱" type="text" name="email" class="loginipt key user">
          </label>

           <label class="label">
            <input placeholder="请输入您的邮箱验证码" style="color:red;" type="text" name="emailCode" class="loginipt key user">
          </label>

          <label class="label">
            <input placeholder="请输入您的手机号" type="text" name="phone" class="loginipt key user">
          </label>

          <label class="label">
            <input placeholder="请输入您的密码"" type="password" name="pwd" class="loginipt key pwd">
          </label>
          <label class="label">
            <input placeholder="请再次输入您的密码" type="password" name="rpwd" class="loginipt key pwd">
          </label>
       
      </form>
         <input type="button" id='regist' class="button btn-reg" value='立即注册' />

        <p class="mt20 tc">注册则表示同意<a href="#" class="o">《会员条款》</a></p>
        <div class="ohter"><span class="ohtertxt">或</span></div>
        <div class="Prompt" style="padding:0 0 10px">使用以上社交网络帐号登录</div>
      </div> 
      <div class="tc">
        <a href="#" target="_blank" class="ico qq">QQ</a>
      </div>
      <p class="boxbd tr">已有帐号？<a href="login.html" class="o">注册</a></p>
    </div>    
  </div>
</div>
</html>

<script type="text/javascript">

$('select').change(function()
  {
     $("#seller2").remove();
    if($('select').val() == '卖家')
    {
      $('#seller').append("<select style='width:170px;height:34px;background:#1A1A1A;color:white;border:1px solid #161616'  id='seller2'><option>123</option><option>123</option></select>");
    }
  });

$(function ()
  {
   var status = true;
   /*验证用户名*/
   $('input[name=name]').blur(function()
    {
      var name =  $('input[name=name]').val();
      len = name.length;
      if( (!name && typeof(name)!="undefined" && name!=0) || len < 3 || $len > 10)
      {
        status = false;
        alert('长度不能小于3或大于10或者为空');
      }
      status = true;
    });

   /*验证邮箱*/
   $('input[name=email]').blur(function()
      {  
        var email = $('input[name=email]').val();
        if(email)
        {
           if(!email.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/))
            {
              status = false;
              alert("格式不正确！请重新输入");
              return false;
            }
            status = true;
            /*$.post("{:url('Index/getEmailCode')}" , {'email' : email} , function(data)
              {
                $data = JSON.parse(data);
                alert(data);
                if($('input[name=emailCode]') != data.code)
                {
                  alert($('input[name=emailCode]'));
                    status = false;
                    alert('验证码不正确');
                    return false;
                }

              },'json');*/
        }
        else
        {
          alert('邮箱不能为空!');
          return false;
        }
      });


   /*验证密码*/
   $('input[name=pwd]').blur(function()
    {
      var pwd =  $('input[name=pwd]').val();
      var len = pwd.length;
      if( pwd )
      {
        if(len < 3 && !isNaN(pwd))
        {
          status = false;
          alert('长度不能小于6或者为纯数字!');
        }      
      }
      else
      {
        status = false;
        alert('密码不能为空!');
        return false;
      }
      status = true;
    });

   /*再次验证密码*/
   $('input[name=rpwd]').blur(function()
    {
      var pwd  = $('input[name=pwd]').val();
      var rpwd = $('input[name=rpwd]').val();
      if(rpwd)
      {
        if((pwd != rpwd))
        {
          status = false;
          alert('两次密码不一致');
        }
        status = true;
      }
      else
      {
        alert('两次密码不一致!');
      }
    });

   /*注册*/
   $('#regist').click(function()
    {
      var style = $('select').val();
      var name = $('input[name=name]').val();
      var email = $('input[name=email]').val();
      var pnumber = $('input[name=phone]').val();
      var pwd = $('input[name=pwd]').val();
       var rpwd = $('input[name=rpwd]').val();
      if(status && name && email && pnumber && pwd && rpwd && (pwd==rpwd))
      {
        console.log('信息正确哦，插入进去吧!');
        var urlpost = null;
        console.log(style);
        if(style == '买家')
        {
          urlpost = "{:url('User/addUserInfo')}";
        }
        else if(style == '卖家')
        {
          urlpost = "{:url('Seller/addSellerInfo')}";
        }

        /*注册的ajax请求*/
        $.post(urlpost, {'style' : style , 'uname' : name , 'email' : email , 'pnumber' : pnumber , 'pwd' : pwd} ,
         function(data){
          alert(data);
            if(data == 0)
            {
              alert('注册失败,再去试试吧!');
            }
            else
            {
              alert('注册成功,去登录吧!');
            }
         }, "json");
      }
      else
      {
        alert('不正确啦,先完成信息');
      }
    });

   
  });


</script>